---
import Layout from "../../layouts/main.astro";
import PageHeading from "../../components/page-heading.astro";
import icons from '../../collections/icons.json';
import CodeBox from "../../components/codebox.astro";

export async function getStaticPaths() {
  return icons.map(icon => ({
    params: { slug: icon.IconPath },
    props: icon,
  }));
}

const { IconName, IconPath, IconColor, IconDesigner, IconDesignerURL, IconSourceURL, IconLicense, IconSVG } = Astro.props;

const PageTitle = `${IconName} Icon`;
const MetaDescription = `.`;

const iconNameL = IconName.toLowerCase();
const MetaKeywords = `${iconNameL}, ${iconNameL} unicode, ${iconNameL} icon, ${iconNameL} unicode icon, ${iconNameL} html entity, ${iconNameL} css entity, ${iconNameL} js entity, ${iconNameL} code point, ${iconNameL} symbol, ${iconNameL} copy, ${iconNameL} copy paste, copy ${iconNameL}, ${iconNameL} unicode copy, ${iconNameL} symbol copy paste, ${iconNameL} text copy, bangla unicode, bengali unicode, bangla icon, bengali icon, unicode ${iconNameL}`;
---



<Layout title={PageTitle}  metaDescription={MetaDescription} metaKeywords={MetaKeywords}>
<section class="relative z-20 max-w-3xl mx-auto my-12 px-7 lg:px-0 overflow-x-hidden">





<div class="relative z-20 w-full mx-auto lg:mx-0">
    <p class="mb-3 text-base leading-6 text-neutral-800 dark:text-neutral-200 sm:mb-4 lg:mb-6 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"><a href="/icons/" class="text-blue-600 hover:underline">&larr; Icons</a></p>
  <h1 class="text-4xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100 sm:text-5xl lg:text-6xl">{IconName} Icon</h1>
</div>







    <div id="preview" class="my-8 bg-gray-100 dark:bg-gray-900 rounded-3xl px-7 py-12">
<img src={`/icons/${IconPath}.svg`} class="w-full max-w-[200px] mx-auto" width="200" height="200" loading="lazy" alt={`${IconPath} icon svg`}/>
</div>






      <h2 class="sr-only">Icon Details</h2>
      <!--h3>Color Type: {IconColor}</h3-->
      <h3>Designer: <a class="text-blue-600 underline" href={IconDesignerURL} target="_blank" rel="noopener noreferrer nofollow">{IconDesigner}</a></h3>
      <h3>Source: <a class="text-blue-600 underline w-[70px] truncate overflow-hidden whitespace-nowrap" href={IconSourceURL} target="_blank" rel="noopener noreferrer nofollow">{IconSourceURL}</a></h3>
      <h3>License: <a class="text-blue-600 underline" src={`/licenses/${IconLicense}.txt`}>{IconLicense} License</a></h3>





<h2 class="mt-8 text-2xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100 sm:text-3xl lg:text-4xl">SVG Code:</h2>
<CodeBox id="SVGcodebox" code={IconSVG}/>



</section>
<script src="../../assets/js/font.js"></script>
</Layout>
  
