---
import icons from '../../collections/icons.json';

export async function getStaticPaths() {
  return icons.map(icon => ({
    params: { slug: icon.IconPath },
    props: icon,
  }));
}

const { IconName, IconPath, IconColor, IconDesigner, IconDesignerURL, IconSourceURL, IconLicense, IconSVG } = Astro.props;
---


    <h1 class="text-2xl font-bold mb-4">{IconName}</h1>

    <div class="mb-6">
      <div class="w-24 h-24" innerHTML={IconSVG} />
    </div>

    <ul class="space-y-2">
      <li><strong>Color Type:</strong> {IconColor}</li>
      <li><strong>Designer:</strong> <a class="text-blue-600 underline" href={IconDesignerURL} target="_blank" rel="noopener">{IconDesigner}</a></li>
      <li><strong>Source:</strong> <a class="text-blue-600 underline" href={IconSourceURL} target="_blank" rel="noopener">{IconSourceURL}</a></li>
      <li><strong>License:</strong> {IconLicense}</li>
    </ul>
  
