---
import icons from '../collections/icons.json';
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Icons - Bangla Web Fonts">
  <section class="relative z-20 max-w-3xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Icons"
      description=""
    />

      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6">
        {icons.map(icon => (
          <div class="border rounded-2xl p-4 shadow hover:shadow-md transition">
            <div class="flex justify-center items-center h-32">
              <div class="w-20 h-20" set:html={icon.IconSVG}></div>
            </div>
            <h2 class="text-lg font-semibold mt-4">{icon.IconName}</h2>
            <p class="text-sm text-gray-600">Color: <span class="capitalize">{icon.IconColor}</span></p>
            <p class="text-sm text-gray-600">
              Designer:
              <a href={icon.IconDesignerURL} target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">
                {icon.IconDesigner}
              </a>
            </p>
            <p class="text-sm text-gray-500">License: {icon.IconLicense}</p>
          </div>
        ))}
      </div>
    
</section>
</Layout>
